<html lang="en">
<%- include("./partials/head.ejs") %>

<body class="has-background-light">
  <%- include("./partials/nav.ejs") %>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div>
        <p class="title has-text-danger">Error: 404</p>
        <p class="subtitle has-text-danger">The page you're looking for doesn't exist.</p>
      </div>
    </div>
  </section>
</body>
</html>