<html lang="en">
<%- include("./partials/head.ejs") %>

<body class="has-background-light">
  <%- include("./partials/nav.ejs") %>

  <section class="section">
    <div class="container is-max-desktop">
      <p class="title mb-5">About Us</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    </div>
  </section>

  <%- include("./partials/footer.ejs") %>
</body>
</html>